@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6,
div,
canvas,
span,
input,
table,
textarea,
.p-link {
	font-family: 'Poppins', sans-serif !important;
}



.font{
    font-family: 'Sacramento',cursive !important;
}

/* Custom CSS to extend the connector */
.p-timeline-event-connector {
    background-color:#3182ce;
    width: 1px !important;
    height: 100%; /* Ensure the connector extends fully */
    min-height: 100px; /* Minimum height to cover content */
}

.p-timeline-event-content {
    position: relative;
    padding-bottom: 30px; /* Add some space at the bottom if needed */
}

.p-timeline-event:last-child .p-timeline-event-connector {
    display: none; /* Hide connector for the last child */
}

.custom-carousel .p-carousel-prev,
.custom-carousel .p-carousel-next {
    top: 50%;
    transform: translateY(-50%);
   
    z-index: 1;
}

.card {
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 1rem;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}


/* Responsive adjustments */
/* @media (max-width: 1400px) {
   

    .custom-carousel .p-carousel-prev {
        left: 14rem;
    }

    .custom-carousel .p-carousel-next {
        right: 16rem;
    }
}

@media (max-width: 1199px) {
  

    .custom-carousel .p-carousel-prev {
        left: 4rem;
    }

    .custom-carousel .p-carousel-next {
        right: 10rem;
    }
}

@media (max-width: 1000px) {
  

    .custom-carousel .p-carousel-prev {
        left: 0rem;
    }

    .custom-carousel .p-carousel-next {
        right: 4rem;
    }
}


@media (max-width: 768px) {
    

    .custom-carousel .p-carousel-prev {
        left: 3rem;
    }

    .custom-carousel .p-carousel-next {
        right: 3rem;
    }
}
@media (max-width: 540px) {
    

    .custom-carousel .p-carousel-prev {
        left: 0.5rem;
    }

    .custom-carousel .p-carousel-next {
        right: 0.5rem;
    }
} */


  